/* * {
    margin: 0;
    padding: 0;
} */

.quote{
    width: 300px;
    border-color: black;
    display: flex;
    flex-direction: column;
    border: groove;
    /* gap: 2px; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.contDiv {
    width: 300px;
    height: 600px;
    background: #b83939;
    transition: all 2s;
    opacity: 0;
}

.showContent{
    opacity: 1;
}
